<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
  <div data-ng-app="app" data-ng-controller="myCtrl">
    <w3-test-directive></w3-test-directive>
    <div class="anotherDirective"></div>
    
    <select name="curValue" data-ng-model="curValue" data-ng-change="selChange(curValue)">
      <option value="USD" selected="selected">Select</option>
      <option data-ng-repeat="x in resData" value="{{ x[0] }}">
        {{ x[0] }}
      </option>
    </select>
    <br>
    <div data-ng-show="vis">
      1 <span data-ng-bind="curValueName"></span> = <span data-ng-bind="curValuePrice.toFixed(3)"></span> USD <br>
      1 USD = <span data-ng-bind="(1/curValuePrice).toFixed(3)"></span> <span data-ng-bind="curValueName"></span> <br>
    </div>
    <br><hr><br>
  </div>
  
  <script src="js/index.js"></script>
  <script src="js/app.js"></script>
  <script src="js/ctrl.js"></script>
  
</body>
</html>